.layout {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-height: 0;
  width: 100%;
  min-width: 0;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 20px 20px 24px;
  padding-bottom: calc(24px + var(--safe-bottom));
  width: 100%;
  min-width: 0;
  max-width: 100%;
}

@media (min-width: 481px) {
  .main {
    padding: 28px 24px 32px;
  }
}
